@font-face {
  font-family: Nunito-Bold;
  src: url("assets/fonts/Nunito-Bold.ttf");
}

@font-face {
  font-family: Nunito-SemiBold;
  src: url("assets/fonts/Nunito-SemiBold.ttf");
}

html {
  font-size: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #FFF;
  font-family: sans-serif;
  font-size: 3rem;
}

body {
  background-color: #350297;
}

#quiz-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 800px;
}

#logo-container {
  width: max-content;
  margin: auto;
}

h1, p {
  text-align: center;
  margin-top: 8vh;
}

h1 {
  font-family: Nunito-Bold, sans-serif;
  font-weight: 600;
  /*font-size: 3rem;*/
}

p {
  font-weight: 400;
  color: #ababab;
  margin-top: 2vh;
}

#start-quiz {
  /*font-size: 2rem;*/
  color: #000;
  line-height: 1.5;
  padding: 8px 60px;
  display: block;
  margin: 5vh auto;
  background-color: rgb(194, 168, 25);
  outline: none;
  border: none;
  border-radius: 20px;
}

#start-quiz:hover {
  cursor: pointer;
  transform: translate(-2%, -3%);
}

#quiz-heading, #question-number {
  color: red;
  text-align: left;
  padding-bottom: 20px;
  border-bottom: 1px solid #FFF;
  margin-bottom: 20px;
}

#question-number {
  color: inherit;
  border: none;
  margin: 0 auto;
  color: #FF0244;
}

#current-score {
  color: #ffffff;
  text-align: left;
}

.question {
  margin-top: 32px;
  margin-bottom: 40px;
}

button:hover {
  cursor: pointer;
}

.option {
  display: block;
  margin-bottom: 20px;
  
  width: 100%;
  text-align: left;
  padding: 12px;
  border-radius: 8px;
  background-color: #200159;
  border: 2px solid black;
}

.option:not(:disabled):hover {
  cursor: pointer;
  background-color: #c0c0c0;
  color: #200159;
}

.option:disabled:hover {
  cursor: no-drop;
} 

#next, .replay{
  
  padding: 8px 56px;
  background-color: gold;
  color: #000;
  border: none;
  border-radius: 8px;
  display: block;
  margin: 32px auto 0;
}

.correct {
  background-color: #01FF11;
}

.incorrect {
  background-color: #FF0244;
}